<?xml version="1.0" encoding="gb2312"?>
<Config>
  <Connection>
    <ConnectionString name="ConnectionString" value="server=192.168.2.191;database=wms_rfid;uid=sa;pwd=123456" />
  </Connection>
  <ConnetionType>
    <Type name="Type" value="网络连接" />
  </ConnetionType>
	<HttpConnectionStr>
		<Type name="HttpConnStr" value="http://192.168.2.191:8090/Task/" />
	</HttpConnectionStr>
</Config>